@font-face {
    font-family: "openSans";
    src: url(fonts/Open_Sans.zip);
}

* {
    font-family: "openSans";

}

body {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: #2979ff;
}

.head {
    padding: 10px 10px;
    font-size: 25px;
    color: white;
    font-weight: bold;

}

.btn-primary {
    background-color: #2979ff !important;

}

.btn-primary:active {
    background-color: #2979ff !important;
 
}

.swal2-actions {
    background-color: #2979ff !important;
    
}

.image-list {
    justify-content: space-around;
}
 
.image-list > img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.image-list-selected {
    border: 2px solid #2979ff !important;

}
.swal2-confirm {
    background-color: #2979ff !important;


}

.card-body {
    color: #fff;
    background-size: cover;
}


@media only screen and (max-width: 412px) {
    .navbar {
        width: 100%;
        height: 60px;
        background-color: #2979ff;
    }
    
    .head {
        margin: 0 140px;
        padding: 8px 8px;
        font-size: 20px;
        color: white;
       font-weight: bold;

    }
    
    .main {
        padding: 10px 4px;
    }
}