* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}


@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins.zip);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #001e4d !important;
}

.main-container {
    position: relative;
    width: 100%;
    height: 820px;
}

.app {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: 120px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app > h1 {
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
}

.quiz {
    height: 320px;
    /* position: relative; */
    padding-bottom: 20px 0;

}

.answer-buttons > div {
    /* position: relative; */
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
}

.answer-buttons >.one >label>input {
    position: absolute;
    margin:15px;
    /* left: 0px; */
}




.quiz > h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn-primary {
    position: absolute;
    right: 40px;
    bottom: 250px;
    width: 80px;
    height: 40px;
    margin: 10px 10px;
    cursor: pointer;
   }

.btn-primary:hover {
    background:  #2c6edf;

   }

   .swal2-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .swal2-confirm {
    display: inline-block;
    background: #447cd5 !important;
}

.logoutButton {
    position: absolute;
    left: 50px;
    bottom: 260px;
    width: 85px;
    height: 42px;
    border-radius: 6px;
    padding: 6px 5px;
    text-align: center;
    background:  #2c6edf;
    cursor: pointer;
}

.logoutButton > button {
    background:  #2c6edf;
    padding: 2px 5px;
    color: #fff;
    border: none;

}

.count_down {
    height: 90px;
    width: 200px;
    background: #fff;
    position: absolute;
    top: 0px;
    /* right: 100px; */
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    padding: 2px 5px;
}


   